@font-face {
    font-family: "Electronic Highway Sign";
    src: url("/fonts/EHSMB.TTF");
}

#root {
    -fx-background-color: #1c1c1c;
    -fx-padding: 8px;
}

#label {
    -fx-text-fill: #9eff69;
    -fx-font-family: "Electronic Highway Sign", monospace;
    -fx-font-size: 28px;
    -fx-effect: dropshadow(gaussian, #9eff69, 10, 0, 0, 0);
}